body{
	margin: 0px;
	width: 100%;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
	width: 110px;
	border: 1px solid #f00;
	padding: 20px;
}
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.flex-item1{
	height: 80px;
}
.flex-item2{
	height: 60px;
}
.flex-item4{
	height: 160px;
	border: 1px solid #0f0;
}
@media screen and (max-width: 640px){
	.flex-container{
		flex-flow: row wrap;
		align-items: flex-start;
	}
	.item4{
		order: -1;
	}	
}