@charset  "utf-8"
*{
	margin: 0;
	padding: 0;
}
body{
	padding: 20px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
section>div,section{
	padding: 20px;
	background: #fff;
	border: 1px solid #999;
}
.main{
	margin:0px;
	background-color: #eee;
	border: 1px solid #999;
	overflow: hidden;
}
.left{
	float: left;
	width: 160px;
}
.right{
	float: right;
	left: 20px;
	width: 80px;
}
.center{
	margin-left: 220px;
	margin-right: 140px;
	font-family: "微软雅黑";
}
.logo{
	float: left;
}
.person-logo{
	border: 1px solid #999;
	margin: 10px 0;
}
.team{
	margin: 0;
	text-align: right;
}