body{
	margin: 0;
	padding: 0;

}
.center{
	width: 400px;
	height: 200px;
	background-color: #CCC;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px -200px;
	overflow: hidden;
}
.circle{
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
}
.circle1{
	position: relative;
	top: -25%;
	left: -12.5%;
}
.circle2{
	position: relative;
	top: 25%;
	left:87.5%;
}